.item-card {
  width: 300px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0px 10px;
}

.item-image {
  width: 100%;
  height: auto;
}

.item-actions {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.item-quantity {
  margin: 0px 10px;
  font-weight: bold;
}
